* {
    margin: 0;
    padding: 0;
    transition: all 2s;
}

body {
    /* outline: 1px solid red; */
    height: 100vh;
}
.icon {
    width: 28px; height: 28px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
#sourceCode{
    position: fixed;
    top: 20%;
    background: #000;
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
    font-size: 12px;
    min-width: 280px;
    overflow: hidden;
    left: 40%;
    color:#fff;
}

#sourceCode .token.comment{
    color:#fff;
}


.main{
    height: 100%;
}
